:root {
    font-family:"Merienda", sans-serif;
    --burgundy: #5e0913
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display:grid;
    grid-template-rows: 150px 50px 1fr;
    grid-template-columns: 1fr;
    gap:1em;
}

.header {
    grid-area: 1 / 1 / 2 / 2;
    background-image: linear-gradient(to bottom, #bbc4ff, #cfd2ff, #e1e0ff, #f1efff, #ffffff);
    display:flex;
    justify-content: space-between;
    gap: 1em;
}

.title_bar {
    margin: 20px;
    font-size: 40px; 
    color: var(--burgundy)
}

.user_info {
    display:flex;
    align-items:center;
    gap: 15px;
    margin: 20px;
    font-size: 20px;
    flex-direction:column;
    color:var(--burgundy)
}

.avatar {
    height: 40px;
}

.cardholder {
    display:grid;
    grid-template-rows: repeat(auto-fit);
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px))
}

.card {
    border: 1px solid black;
    margin-left:15px;
    margin-right:15px;
    margin-bottom:15px;
    padding:15px;
    display:flex;
    border-radius: 10px;
    flex-direction: column;
    font-size: 20px;
    margin-top:0px;
    padding-top:0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border:var(--burgundy) 1px dotted
}

.card > * {
    padding:5px;
}

.close-card {
    align-self:flex-end;
    height:15px
}

.readDiv {
    display:flex;
    gap: 1rem;
}

.modal {
    position:fixed;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border:1px solid black;
    border-radius:10px;
    padding: 20px;
    z-index:10;
    background-color:white;
    width:35%;
    max-width:80%;
    color:var(--burgundy)
}

.modal.active {
    transform:translate(-50%, -50%) scale(1);
}

.modal-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}

.modal-close-button {
    cursor:pointer;
    border:none;
    outline:none;
    background:none;
    font-size:1.25rem;
    font-weight:bold;
}

#overlay {
    position:fixed;
    opacity:0;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0, 0, 0, .5);
    transition: 200ms ease-in-out;
    pointer-events:none;
}

#overlay.active {
    opacity: 1;
    pointer-events:all;

}

#close-button {
    cursor:pointer;
    font-weight:bold;
    font-size: 1.5rem;
    color:var(--burgundy)
}

.modal-close-button:hover {
    font-size: 2rem;
}

#modal-button {
    position:relative;
    left:40%;
    font-size: 20px;
    background-color:#e5e9fc;
    cursor:pointer;
    border-radius: 15px;
    padding:12px;
    border:.5px solid var(--burgundy);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#modal-button:hover {
    border: 2px solid var(--burgundy);
    background-color: #cbd3ff;
}

#user-form {
    align-items:center;
    justify-content:center;
    padding: 10px;
    color:var(--burgundy);
    margin-left:25%;
}

#user-form > * {
    margin: 10px;
}

#submit {
    font-size: 20px;
    background-color: #cbd3ff;
    cursor:pointer;
    border-radius: 20px;
    padding:10px;
    border:.5px solid var(--burgundy);
    color:var(--burgundy);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#submit:hover {
    background-color:#bbc4ff; 
}

input:invalid {
    border:var(--burgundy) 1px solid
}

input:focus:invalid {
    background:#bbc4ffa3
}

#author-name, #title, #pages, #checkbox {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px;
    margin:5px;
    border:1px solid var(--burgundy)
}

#login-items-container {
    font-family:Arial, Helvetica, sans-serif;
}

.login-state {
    font-size: 14px;
}

.login-buttons {
    display: flex;
    justify-content: center;
    gap:10px;
}

.login-buttons > * {
    padding:5px;
}

.login-fields {
    display:flex;
    gap:10px;
    margin:10px;
}

.logout-button {
    padding: 5px;
    font-size: 14px;
    background-color: #cbd3ff;
    cursor:pointer;
    border-radius: 10px;
    padding:10px;
    border:.5px solid var(--burgundy);
    color:var(--burgundy);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logout-button:hover {
    background-color:#bbc4ff; 
    border: 2px solid var(--burgundy)
}